<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <img src="../../../assets/ImageProfile.jpeg" 
        class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2" >
        <p id="nombre">Alvarez Ana María Luz</p>
        <h3 id="prof" >Full Stack Developer JR</h3>
        <img src="../../../assets/integration.gif" class="img-fluid" id="programar">
    </div>
    <div class="col-xs-12 col-ms-8 col-md-12 col-lg-7">
        <span class="text-center">
            <h1 id="acerca">Acerca de mí</h1>
            <p class="text-justify">Soy estudiante universitaria de la facultad Tecnológica de Tucumán. Me encanta trabajar en equipo y llevar a cabo objetivos.Además de ser autodidacta, me fascina aplicar mi creatividad al 100% y poder desenvolverme en distintas áreas y enfoques para futuros proyectos. </p>
        </span>
    </div>
</div>

