<div class="container">
    <h1 class="subtitulo"><img src="../../../assets/Estudios.png"> Educacion </h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <h3>Estudio1</h3>
            <p class="lead">
                This is a lead paragraph. It stands out from regular paragraphs.
            </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <h3>Estudio2</h3>
            <p class="lead">
                This is a lead paragraph. It stands out from regular paragraphs.
            </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <h3>Estudio3</h3>
            <p class="lead">
                This is a lead paragraph. It stands out from regular paragraphs.
            </p>
        </div> 
      </div>
    </div>
</div>
<div class="b-example-divider"></div>

