<div class="container">
    <div class="row">
        <div class="contacto">
            <h2><img src="../../../assets/project.png">Contacto </h2>
            <p>Para desarrollo de proyectos, podes contactarme llenando el siguiente formulario.</p>
            
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input class="form-control" type="nombre" placeholder="Nombre" aria-label="default input example">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
</div>

