<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <img src="../../../assets/APLogo.png" id="logoAP">

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" id="redes">
        <li><a href="https://www.instagram.com/alvarez.ana.m.l/" ><img src="../../../assets/instagram.png" id="instagram"></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100084179298134" ><img src="../../../assets/facebook.png" id="facebook"></a></li>
        <li><a href="https://twitter.com/Alvarez_AnaMl" ><img src="../../../assets/twitter.png" id="twitter"></a></li>
        <li> <a href="https://www.linkedin.com/in/ana-mar%C3%ADa-luz-alvarez-612271248/" ><img src="../../../assets/linkedin.png" id="linkedin"></a></li>
        <li><a href="https://github.com/AnnLuz" ><img src="../../../assets/github.png" id="github"></a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
  </header>
</div>


